/* @import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&family=Noto+Sans+Arabic&display=swap"); */

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --light: #edf2f9;
    --dark: #152e4d;
    --darker: #12263f;
    /*  */
    --color-primary: var(--color-cyan);
    --color-primary-50: var(--color-cyan-50);
    --color-primary-100: var(--color-cyan-100);
    --color-primary-light: var(--color-cyan-light);
    --color-primary-lighter: var(--color-cyan-lighter);
    --color-primary-dark: var(--color-cyan-dark);
    --color-primary-darker: var(--color-cyan-darker);
    /*  */
    --color-green: #16a34a;
    --color-green-50: #f0fdf4;
    --color-green-100: #dcfce7;
    --color-green-light: #22c55e;
    --color-green-lighter: #4ade80;
    --color-green-dark: #15803d;
    --color-green-darker: #166534;
    /*  */
    --color-blue: #2563eb;
    --color-blue-50: #eff6ff;
    --color-blue-100: #dbeafe;
    --color-blue-light: #3b82f6;
    --color-blue-lighter: #60a5fa;
    --color-blue-dark: #1d4ed8;
    --color-blue-darker: #1e40af;
    /*  */
    --color-cyan: #0891b2;
    --color-cyan-50: #ecfeff;
    --color-cyan-100: #cffafe;
    --color-cyan-light: #06b6d4;
    --color-cyan-lighter: #22d3ee;
    --color-cyan-dark: #0e7490;
    --color-cyan-darker: #155e75;
    /*  */
    --color-teal: #0d9488;
    --color-teal-50: #f0fdfa;
    --color-teal-100: #ccfbf1;
    --color-teal-light: #14b8a6;
    --color-teal-lighter: #2dd4bf;
    --color-teal-dark: #0f766e;
    --color-teal-darker: #115e59;
    /*  */
    --color-fuchsia: #c026d3;
    --color-fuchsia-50: #fdf4ff;
    --color-fuchsia-100: #fae8ff;
    --color-fuchsia-light: #d946ef;
    --color-fuchsia-lighter: #e879f9;
    --color-fuchsia-dark: #a21caf;
    --color-fuchsia-darker: #86198f;
    /*  */
    --color-violet: #7c3aed;
    --color-violet-50: #f5f3ff;
    --color-violet-100: #ede9fe;
    --color-violet-light: #8b5cf6;
    --color-violet-lighter: #a78bfa;
    --color-violet-dark: #6d28d9;
    --color-violet-darker: #5b21b6;

    --border: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
@layer components {
  .loader-white {
    @apply w-8 h-8 inline-block border-t-gray-50 box-border animate-[rotation_1s_linear_infinite] rounded-[50%] border-r-4 border-r-transparent border-t-4 border-solid after:content-[""] after:box-border after:absolute after:w-8 after:h-8 after:border-l-gray-50 after:animate-[rotation_0.5s_linear_infinite_reverse] after:rounded-[50%] after:border-l-4 after:border-b-4 after:border-b-transparent after:border-solid after:left-0 after:top-0;
  }
  .loader-primary {
    @apply w-8 h-8 inline-block border-t-primary box-border animate-[rotation_1s_linear_infinite] rounded-[50%] border-r-4 border-r-transparent border-t-4 border-solid after:content-[""] after:box-border after:absolute after:w-8 after:h-8 after:border-l-primary after:animate-[rotation_0.5s_linear_infinite_reverse] after:rounded-[50%] after:border-l-4 after:border-b-4 after:border-b-transparent after:border-solid after:left-0 after:top-0;
  }
  .loader-full {
    @apply w-12 h-12 inline-block border-t-primary box-border animate-[rotation_1s_linear_infinite] rounded-[50%] border-r-4 border-r-transparent border-t-4 border-solid after:content-[""] after:box-border after:absolute after:w-12 after:h-12 after:border-l-primary after:animate-[rotation_0.5s_linear_infinite_reverse] after:rounded-[50%] after:border-l-4 after:border-b-4 after:border-b-transparent after:border-solid after:left-0 after:top-0;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-gray-100 text-black;
    @apply overflow-hidden;
  }
}
